@{
    ViewData["titulo"] = "Departamento";

    var idComponente = Guid.NewGuid().ToString("N");
    var modelParaOClientSide = new { habilite = true };
}

<section id="@(idComponente)" class="painel app-views-departamento-index">
           
    <nav>        
        @Html.ActionLink("Novo", "Novo")
    </nav>

    <div class="titulo-principal">
        Departamentos
    </div>

    <div class="linha">
        <div class="coluna">
            @Html.TextBox("filtro", null, new { @placeholder = "Filtro...", @autocomplete="off"})             
            <button name="pesquisar">Pesquisar</button>
        </div>
    </div>

    <div class="linha">
        <div class="coluna">

            <table name="grid">
                <thead>
                    <tr>
                        <th>Código</th>
                        <th>Descrição</th>
                    </tr>
                </thead>
                <tbody> 
                    <tr>
                        <td></td>
                        <td></td>
                    </tr>                                                 
                </tbody>
                <tfoot>
                    <tr>
                        <th colspan="2">
                            Total:&nbsp;<span>0</span>
                        </th>
                    </tr>
                </tfoot>
            </table>

        </div>
    </div>

</section>



@section Scripts{

    <script>
        $(function() {
            app.carregueJavascript("/js/app.views.departamento.index.js", {
                callback: function() {
                    new app.views.departamento.index($("#@(idComponente)"), @Html.Raw(Json.Serialize(modelParaOClientSide)) );
                }
            });
        })
    </script>

}

