@{
    ViewData["titulo"] = "Home";
}

<section class="app-index">
    <nav>
        @Html.ActionLink("Departamento", "Index", "Departamento")
        @Html.ActionLink("Funcionário", "Index", "Funcionario")
        @Html.ActionLink("Movimentacao", "Index", "Movimentacao")
    </nav>
</section>

<link rel="stylesheet" href="/css/app.views.home.index.css">