@{
    ViewData["titulo"] = "Funcionario";

    var idComponente = Guid.NewGuid().ToString("N");
    var modelParaOClientSide = new { habilite = true };
}

<section id="@(idComponente)" class="painel app-views-funcionario-index">
           
    <nav>        
        @Html.ActionLink("Novo", "Novo")
    </nav>

    <div class="titulo-principal">
        Funcionarios
    </div>

    <div class="linha">
        <div class="coluna">
            @(Html.AppTabela()
                  .Nome("grid")
                  .Colunas(new string[] {"Codigo", "Nome", "Departamento"})
                  .CaminhoEditar("/Funcionario/Editar")
                  .CaminhoGet("/Funcionario/ConsulteParcial")
                  .ColunasBody(new string[] {"codigo", "nome", "departamento"}))
        </div>
    </div>

</section>



@section Scripts{

    <script>
        $(function() {
            app.carregueJavascript("/js/app.views.funcionario.index.js", {
                callback: function() {
                    new app.views.funcionario.index($("#@(idComponente)"), @Html.Raw(Json.Serialize(modelParaOClientSide)) );
                }
            });
        })
    </script>

}

