@{
    ViewData["titulo"] = "Funcionario";
}

<section class="painel app-views-funcionario-index">
           
    <nav>        
        @Html.ActionLink("Novo", "Novo")
    </nav>

    <div class="titulo-principal">
        Funcionários
    </div>

    <div class="linha">
        <div class="coluna">
            @Html.TextBox("filtro", null, new { @placeholder = "Filtro...", @autocomplete="off"})                        
            <button name="pesquisar">Pesquisar</button>
        </div>
    </div>

    <div class="linha">
        <div class="coluna">

            <table name="grid">
                <thead>
                    <tr>
                        <th>Código</th>
                        <th>Nome</th>
                        <th>Departamento</th>
                    </tr>
                </thead>
                <tbody> 
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>                                                 
                </tbody>
                <tfoot>
                    <tr>
                        <th colspan="3">
                            Total:&nbsp;<span>0</span>
                        </th>
                    </tr>
                </tfoot>
            </table>

        </div>
    </div>

</section>



@section Scripts{

    <script src="/js/app.views.funcionario.index.js" ></script>    
    <script>        
        //new app.views.funcionario.index(document.querySelector(".app-views-funcionario-index"));
    </script>

}

